<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Documents</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/layouts/side-menu.css">
</head>
<body>


<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">W.H.I.D.S.</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/info/" class="pure-menu-link">Overview</a></li>
                <li class="pure-menu-item"><a href="/info/team" class="pure-menu-link">Team</a></li>
                <li class="pure-menu-item"><a href="/info/course" class="pure-menu-link">Course</a></li>
                <li class="pure-menu-item menu-item-divided pure-menu-selected"><a href="/info/documents" class="pure-menu-link">Documents</a></li>
                <li class="pure-menu-item"><a href="/info/pictures" class="pure-menu-link">Pictures</a></li>
                <li class="pure-menu-item"><a href="https://github.com/jakewhlr/cias" class="pure-menu-link">GitHub</a></li>

            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Documents</h1>
        </div>

        <div class="content">
          <a href=https://docs.google.com/document/d/e/2PACX-1vRlA_YN3UhGyrcgjb51kJDHaPH4Qq72jnL9anUckOUfB2o4INe5WonKHTOkwmlJRJ89G4SpCghK7JYY/pub>Project Proposal</a><br>
          <a href=https://docs.google.com/document/d/e/2PACX-1vTXGjXba4EXJsahYiHKoXN_C2doGJlikaLSs9c5tEyC7N5n46_ntz_17z7yLwAx68KO_GWZfi0PwHA2/pub>Project Specification</a><br>
          <a href=https://docs.google.com/document/d/e/2PACX-1vSVtmT1m95u3CSl-Qq-kjKA_ksofP7yHKd_vtJMx1f_VHnF3xCyG_a-5Ilf18QaKrgNNPV8-ezyr-Pp/pub>Design Specification</a><br>
          <a href=https://docs.google.com/document/d/e/2PACX-1vSwE0pKZH2Jw1aHYZyjBQ5oZ33kLc9pFMHAZt4Y61CMMawRRJ0_ycR8jhfzmPaFKTp6mjh8CDxFu-7i/pub>Project Prototype</a><br>
          <a href=https://docs.google.com/document/d/e/2PACX-1vSC-sftWT5NAH5P2Jclf0g4eCmdFk9LcFihbggjRLzd6y76G-rZ3U2oAR6RpF__dIUzwtHaueHVUWfN/pub>Revised Concept & Project Management</a><br>
          <a href=https://docs.google.com/document/d/e/2PACX-1vR9_3Lr460LsA12t8-LMVpptYphf_XGCXzEl0EoLsU2nah4Q3ewHiZ2d1zi3g8Vp058D2zLy7oaTkKH/pub>Acceptance Criteria and Testing Strategy and Plan</a><br>
          <a href=https://docs.google.com/document/d/e/2PACX-1vTsT4VJAmiqiFuTwMxPvTDGiwgmW35E7wpZrSQlc2iWevgOkHo9057UuUqR1WllZC4v1V4z7eUoFByh/pub>Project Demo</a><br>
        </div>
    </div>
</div>




<script src="/static/js/ui.js"></script>

</body>
</html>
